
RETELL_API_KEY=
RETELL_AGENT_ID=
POSTGRES_CONNECTION_STRING=

REDIS_HOST=localhost
REDIS_EXPIRE_DURATION_IN_SECONDS=300
ALLOW_ORIGINS=http://localhost:3000

GEMINI_API_KEY=
REDIS_PASSWORD=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_LLM_MODEL=gemini-3.5-flash-lite
LLM_MODEL_USED=gemini-3.5-flash-lite
GOOGLE_MAPS_API_KEY=

MAPBOX_TOKEN=
GROQ_API_KEY=


# TTS Layer (Choose either one)
TTS_PLUGIN_USED=

## ELEVENLABS
ELEVENLABS_API_KEY=
ELEVENLABS_MODEL=eleven_multilingual_v2
ELEVENLABS_VOICE_ID=

## CARTESIA
CARTESIA_API_KEY=
CARTESIA_VOICE_ID=
CARTESIA_MODEL=sonic-3
